## Json, Requests

In [ ]:
# txt --- I am a student -- unstructured
# CSV --- id,name,age,city -- semi-structured
# XML --- <user><sql>
# Yaml ---
# Json --- Java Script Object -- semi-structured
# PDF --- unstructured
# SQL ---- structered

In [ ]:
'''{
    "id":1,
    "name":"Alex",
    "age":25
}'''

In [1]:
import json

In [2]:
data = '''{
    "Student":
                [
                    {
                        "id":7,
                        "name":"Alex",
                        "age":25,
                        "pets":["dogs","cats","bird"],
                        "FamilyMembers":
                            [
                                {
                                    "name":"David",
                                    "age":56,
                                    "relative":"father"
                                    
                                },
                                {
                                    "name":"Sara",
                                    "age":53,
                                    "relative":"mother"
                                    
                                },
                                {
                                    "name":"Rob",
                                    "age":26,
                                    "relative":"brother"
                                }
                            ]
                    },
                    {
                        "id":8,
                        "name":"Mironshox",
                        "age":19,
                        "pets":["dogs","cats","bird"],
                        "FamilyMembers":
                            [
                                {
                                    "name":"A",
                                    "age":45,
                                    "relative":"father"
                                    
                                },
                                {
                                    "name":"B",
                                    "age":42,
                                    "relative":"mother"
                                    
                                },
                                {
                                    "name":"Islom",
                                    "age":21,
                                    "relative":"brother"
                                }
                            ]
                    }
                ]
}'''

In [13]:
data_py = json.loads(data)
# print(type(data_py))
# data_py["Student"][1]['FamilyMembers'][0]['name']
data_py

{'Student': [{'id': 7,
   'name': 'Alex',
   'age': 25,
   'pets': ['dogs', 'cats', 'bird'],
   'FamilyMembers': [{'name': 'David', 'age': 56, 'relative': 'father'},
    {'name': 'Sara', 'age': 53, 'relative': 'mother'},
    {'name': 'Rob', 'age': 26, 'relative': 'brother'}]},
  {'id': 8,
   'name': 'Mironshox',
   'age': 19,
   'pets': ['dogs', 'cats', 'bird'],
   'FamilyMembers': [{'name': 'A', 'age': 45, 'relative': 'father'},
    {'name': 'B', 'age': 42, 'relative': 'mother'},
    {'name': 'Islom', 'age': 21, 'relative': 'brother'}]}]}

In [ ]:
## load, loads --- from json format -- python native type
    ## load -- json file -- python native
    ## loads --- string (json format) -- python native
## dump, dumps --- from python native type --- json format
    ## dump -- python native type -- json file
    ## dumps -- python native type -- string (json format)

In [14]:
with open('test.json','r') as f:
    data_py2 = json.load(f)
data_py2

{'Student': [{'id': 7,
   'name': 'Alex',
   'age': 25,
   'pets': ['dogs', 'cats', 'bird'],
   'FamilyMembers': [{'name': 'David', 'age': 56, 'relative': 'father'},
    {'name': 'Sara', 'age': 53, 'relative': 'mother'},
    {'name': 'Rob', 'age': 26, 'relative': 'brother'}]},
  {'id': 8,
   'name': 'Mironshox',
   'age': 19,
   'pets': ['dogs', 'cats', 'bird'],
   'FamilyMembers': [{'name': 'A', 'age': 45, 'relative': 'father'},
    {'name': 'B', 'age': 42, 'relative': 'mother'},
    {'name': 'Islom', 'age': 21, 'relative': 'brother'}]}]}

In [24]:
d = {
    'name':"Azamat",
     "age":20,
     "city":"Khorazm"
    }

In [23]:
d_json = json.dumps(d)
d_json

'{"name": "Azamat", "age": 20, "city": "Khorazm"}'

In [25]:
with open('test2.json','w') as f:
    json.dump(d,f)

In [ ]:
## task is to create csv file called  FamilyMembers which include all family members details

In [50]:
with open('familymembers.csv','w') as f:
    columns = ','.join(data_py['Student'][0]['FamilyMembers'][0].keys()) +','+'StudentName' + '\n'
    f.write(columns)
    for obj in data_py['Student']:
        for obj2 in obj['FamilyMembers']:
            values = ','.join(map(str,obj2.values())) +','+ obj['name'] + '\n'
            f.write(values)
    
# for obj in data_py['Student']:
#         for obj2 in obj['FamilyMembers']:
#             values = ','.join(map(str,obj2.values())) +','+ obj['name']
#             f.write(values)